<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="w-90 mx-auto">
                    <h2 class="error-code font-xs-x7 font-md-x10">
                        Authority Error <i class="fa fa-file-text text-primary font-xs-x6 font-md-x8"></i>
                    </h2>
                    <h2 class="error-message font-xs-x2 font-md-x2">
                        Oops, This Page is not Allowed For You!
                    </h2>
                    <p class="error-details font-xs-x1">Try to log with an admin account or a merchant account</p>
                </div>
            </div>
        </div>
    </div>
</div>